/* Noir : 000000
Blanc : FFFFFF
Girs : 292A2E */

* {
  box-sizing: border-box;
}

body {
  font-family: "Avenir";
  font-size: 14px;
  line-height: 20px;
}

.video {
  min-width: 100vw;
  margin-bottom: -8px;
}

video {
  width: 100vw;
}

h2{
  font-size: 20px;
  font-weight: lighter;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  color:white;
} 

.h2-shape {
  background-color: #292A2E;
}

.products-bloc {
  background-color:black;
  display: flex;
  flex-direction: column;
  color: white;
}

.product {
height: 60vh;
padding: 50px;
background: black;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
border-top: 1px solid white;
position: relative;
}



.product:not(:first-child), .product:not(:last-child) {
  margin: 30px 30px 0px 30px;
} 

.product:last-child {
  margin-bottom: 30px;
}

.product-images {
  height: 70%;
  background-color: black;
  position: relative;
  z-index: 2;
  width: 100%;
}
.image-front-alone {
  height: 100%;
  position: absolute;
  z-index: 5;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
}

.image-front img{
  height: 100%;
  position: absolute;
  z-index: 5;
  margin: auto;
  right: 45%;
}

.image-back img{
  z-index: 3;
  height: 100%;
  position: absolute;
  opacity: 0.5;
  right: 45%;
  transform: translateX(50%);
}

.image-back:hover img{
  z-index: 5;
  opacity: 1;
   }
  
.image-back:hover + a img {
  z-index: 3;
  opacity: 0.5;
  }

h3 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  font-family: "Champagne";

} 

p {
  opacity: 0.7;
  font-family: "Avenir";
}


.articles {
  min-width: 100vw;
  background-color: black;
  display: flex;
  flex-flow: column;
}

.articles a {
  color: white;
  text-decoration: none;
}


.footer-links {
  min-width: 100vw;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.footer-links a .logo {
width: 60px;
margin-left : 20px;
margin-right: 20px;
}

.footer-links a .icon {
  width: 20px;
  height: 20px;
  margin-left : 20px;
  margin-right: 20px;
}

.copyright {
  text-align : center;
  background-color: black;
  color: #7b8283 ;
  padding-bottom: 20px;
}


.gendermen {
  height: 15px;
  width: 15px;
  position: absolute;
  z-index: 50;
  left: -10px;
  top: 35%;
}

.genderwomen {
  height: 20px;
  width: 20px;
  position: absolute;
  z-index: 50;
  right: -5px;
  top: 35%;
}

/* fiches produit*/

.product-page{
  background-color: black;    
  display: flex;
  flex-direction : column;        
}

header {
  background-color : white;
  justify-content: center;
  padding: 20px;
  display: flex;
  flex-direction : column; 
}

.brand {
  font-family: "Avenir";
  font-weight: 400;
  text-align: center;
  padding: 20px;
  color : black;
  font-size : 16px;
  line-height : 17px;
  display: flex;
  flex-direction : column; 
}

.item-name {
  font-family: "Champagne";
  font-weight: 600;
  text-align: center;
  padding-bottom: 30px;
  font-size : 20px;
  line-height: 21px;
  color : black;
  letter-spacing: 3px;
  display: flex;
  flex-direction : column; 
}


.item-price {
  font-family: "Avenir";
  font-weight: 500;
  text-align: center;
  padding : 20px;
  font-size: 14px;
  line-height : 15px;
  color : black;  
  display: flex;
  flex-direction : column; 
}

.product-description {
  background-color: white;
  
}

.item-description {
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-family: "Avenir";
  font-weight: 400;
  line-height: 17px;
  color : black;
  font-size: 13px;
  display: flex;
  flex-direction : column; 
}

.separator {
  height: 2px;
  width: 90vw;
  background-color: black;
  opacity: 0.5;
  margin : 15px;
}

.item-color{
  padding: 30px;
}


.text-color{
  text-align: justify;
  font-family: "Avenir";
  font-weight: 400;
  line-height: 16px;
  color : black;
  font-size: 13px; 
}
.item-size {
  padding: 30px;
}

.text-onesize{
  text-align: justify;
  font-family: "Avenir";
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: black;
  padding-bottom: 30px;
}

.text-size {
  text-align: justify;
  font-family: "Avenir";
  font-weight: 400;
  font-size: 13px;
  line-height: 17px; 
  color: #828282;
  padding-bottom: 30px;
}

.picture {
  text-align: justify;
  font-family: "Avenir";
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #828282;
}

.product-page-image {
  height : 50vh;  
}

.details {
  text-align : justify;
  font-family: "Avenir";
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: black;
  padding-bottom: 30px;
}

/* NAV */

nav {
  position: sticky;  
  z-index: 10;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #0a0a0ad8, #43434352); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #000000d8, #43434352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 50px;
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  transition: background-color 1.5s,height 0.9s, width 0.9s, left 0.9s, bottom 0.9s, border-radius 1s;
  }
  
  #logo-armani-nav {
    width: 200px; 
    height: 50px;
  }
  .flex-box-of-logo{
    display: flex;
    justify-content: center;
  }
  
  nav ul {
    overflow: hidden;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
  }
  
 nav li{
    text-transform: uppercase;
    margin-bottom: 50px;
    color: rgba(255, 255, 255, 0.829);
    border-bottom:1px rgba(255, 255, 255, 0.623) solid;
    padding-bottom: 20px;
    padding-left: 50px ;
    padding-right: 50px;
    font-size: 0px;
    transition: font-size 1s;
  }

  nav a {
    color: white;
    text-decoration: none;
  }
  
  nav.is-open ul li{
    font-size: 35px;
  }
  
  body{
    background-color:rgb(255, 255, 255);
  }
  
  .open {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    z-index: 3;
  }
  
  .open-icon,
  .open-icon::before,
  .open-icon::after {
    width: 30px;
    height: 1px;
    background: white;
  }
  
  .open-icon::before,
  .open-icon::after {
    content: '';
    display: block;
    transition: transform 0.3s;
  }
  
  .open-icon::before {
    transform: translateY(-8px);
  }
  
  nav.is-open .open-icon {
    background-color: transparent;
  }
  
  nav.is-open .open-icon::before {
    transform: translateY(2px) rotate(45deg);
  }
  
  nav.is-open .open-icon::after {
    transform: translateY(1px) rotate(-45deg);
  }
  
  .open-icon {
    transition: background-color 0.3s;
  }
  
  #nav.is-open{
    height: 100vh;
    width: 100vw;
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #000000d7, #434343b6); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #000000d7, #434343b6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  nav.is-open ul{
    transform: none;
  }
  
  nav:not(.is-open) ul {
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  nav:not(.is-open) ul li{
    border-bottom: none;
  }








  /*  TEST hover montres  */


