* {
  box-sizing: border-box;
}

nav ul {
  background-color: black;
  display: flex;
}

nav a {
text-decoration: none;
color: white;
font-size: 14px;
}

.video {
  min-width: 100vw;
}

video {
  width: 100vw;
}

.products {
  min-width: 100vw;
  min-height: 100vh;
  background-color:black;
}

.articles {
  min-width: 100vw;
  min-height: 100vh;
  background-color: blue;
}

.history {
  min-width: 100vw;
  min-height: 100vh;
  background-color: red;
}
